@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
  font-family: "DM Sans";
  src: local("DM Sans"), local("DMSans-Regular"),
    url("fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: local("DM Sans"), local("DMSans-Medium"),
    url("fonts/DMSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: "DM Sans";
  src: local("DM Sans"), local("DMSans-Bold"),
    url("fonts/DMSans-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@layer base {
  html,
  body {
      font-family: 'DM Sans', sans-serif !important;
      font-weight: 400;
      overflow-x: hidden;
      @apply font-sans;
  }
}